<p id="notice"><%= notice %></p>
<h2><%= @project.title %> </h2>
<p><%= @project.finished ? "Finished" : "Unfinished" %></p>
<p>
  <%= @project.description %>
</p>
<% if @project.expected_finish_date %>
<p>
  <b>Expected to be finished by :</b>
  <%= @project.expected_finish_date %>
</p>
<% end %>

<h3>Tasks</h3>
<% for task in @tasks do %>
<h3><%= link_to task.name, [@project, task] %></h3>
    <p><%= task.description %></p>
<% end %>    


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'New Task', new_project_task_path(@project) %> 
