<p id="notice"><%= notice %></p>
<h2><%= @project.title %> </h2>
<p><%= @project.finished ? "Finished" : "Unfinished" %></p>
<p>
  <%= @project.description %>
</p>
<% if @project.expected_finish_date %>
<p>
  <b>Expected to be finished by :</b>
  <%= @project.expected_finish_date %>
</p>
<% end %>

<%= link_to "Tasks for this project", project_tasks_path(@project) %> | 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
