<h1>Ending Timesheet</h1>
<% form_tag :action=>:stop_handler, :method=>"post" do |f| %>
 <%= select_tag :project, options_for_select(@projects) %>   
 Tasks:
 <div id="tasks"></div>
 <p> <%= check_box_tag :pairing%>Create Timesheet for <%= select_tag :partner_id, options_for_select(@users) %></p>
<%= submit_tag "End Time"%>
<% end %>
<% content_for :head do%>
<%= javascript_include_tag "timesheet_load_tasks"%>
<% end %>